[Desktop Entry]
Name=Llama.cpp QT
Version=0.1
Exec=llama.cpp-qt
Icon=/opt/llama.cpp-qt/llama.cpp-qt
Comment=Llama.cpp QT frontend
Type=Application
Terminal=false
StartupNotify=false
Categories=Development
